.chat-box {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100vh;

  background: $lighter-grey;

  @include col-xs-24;
}

.chat-box__header {
  margin-bottom: 30px;

  padding: 25px;

  color: white;
  font-size: $font-lg-medium;

  background: $indigo;

  @include mq-xs {
    padding: 25px;
  }
}

.chat-box__messages {
  position: relative;
  
  display: flex;
  flex-wrap: wrap;

  overflow-y: auto;
}

.chat-box__message-wrapper {
  position: relative;
  @include col-xs-24;
}

.chat-box__message {
  position: relative;
  display: inline-block;
  margin: 15px 0;

  padding: 0 15px;
  max-width: 250px;

  font-size: $font-lg-big;
  
  @include mq-xs {
    max-width: 66.66666667%;
  }
}

.my-message {
  left: 28vw;

  display: flex;
  justify-content: flex-end;

  background: #E0E0E0;

  //@include col-xs-offset-5;
}

.guest-message {
  margin-right: 15vw;
  color: white;

  background: $indigo;

  //@include col-xs-offset-1;
}

.chat-box__footer {
  position: absolute;
  bottom: 25px;
  margin: 15px 0;

  display: flex;
  height: 50px;

  @include mq-xs {
    width: 100%;
  }
}

.chat-box__message-text-wrapper {
  margin-left: 5vw;

  height: 50px;
  background: #f00;
  width: 55vw;
}

.chat-box__message-text {
  width: 100%;
  height: 50px;

  text-indent: 25px;
}

.chat-box__button-send-wrapper {
  margin-left: 5vw;

  width: 30vw;
  display: flex;
  justify-content: flex-end;
}

.chat-box__button-send {
  width: 100%;
}