.key-text-area {
  margin: 25px 0;
}

.user-name-field {
  margin-left: 15px;
  margin-bottom: 25px;
}

.generateKey {
  text-transform: uppercase;
  color: $blue;
  text-decoration: underline;

  cursor: pointer;
}
